<div class="w3-sidebar w3-bar-block w3-round w3-margin-bottom" style="width:20%;height: 80vh;border: 2px solid #ccc;">
    <a href="/dashboard" class="w3-bar-item w3-margin-top">Dashboard</a> 
    <a href="/balances" class="w3-bar-item w3-margin-top">Balances</a>
    <a href="/transactions" class="w3-bar-item w3-margin-top">Latest Transactions</a> 
    <a href="/alltransactions" class="w3-bar-item w3-margin-top">All Transactions</a> 
    <a class="w3-bar-item w3-margin-top">Request Loan
        <span class="w3-red w3-round-large w3-padding-small w3-small">Soon</span>    
    </a> 
</div>

<div style="margin-left:20%">
    <div class="w3-padding">
