<%- include('partials/header'); -%>


<br><br><br>

<header>
  <div class="smoothie">
    <img src="/smoothie.png" alt="">
  </div>
  <div class="headings">
    <h2>Sweet Loans.</h2>
    <h3>Get access to sweet loans, quickly in no time</h3>
    <a href="/dashboard" class="btn">Get In!</a>
  </div>
</header>


<%- include('partials/footer'); -%>